*{
    font-family: 'Poppins';
}

.desempenho-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 94%;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.54);
    background: radial-gradient(101.81% 98.73% at 51.96% 40.13%, rgba(96, 103, 242, 0.80) 0.01%, rgba(52, 52, 52, 0.80) 94.06%);
    box-shadow: 10px 28px 36px 17px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25.5px);
} */

.body-desempenho {
    width: 80%;
    height: 95%;
}
    .titulo-funcionarios{
        font-size: 40px;
        font-weight: bold;
        color: white;
    }

    .perfil1{
    
        width: 100%;
        height: 21%;
        border-radius: 38px;
        display: flex;
        background-color: white;
        box-shadow: 0 0 8px black;
    }
        .foto{
            width: 15%;
            height: 100%;
            border-top-left-radius: 38px;
            border-bottom-left-radius: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: coral;
        }
        .perfil-text{
            width: 70%;
            height: 100%;

        }
            .perfil-text-encima{
                height: 47.5%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: end
            }
            .perfil-text-embaixo{
                margin-top: 0.7%;
                display: flex;
                align-items: start;
                justify-content: space-evenly;
                height: 47.5%;
                width: 100%;
            }
        .botao-meta{
            width: 10%;
            height: 100%;
            border-top-right-radius: 38px;
            border-bottom-right-radius: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .botao-meta-element{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgb(20, 20, 20);
                    border: none;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
                    cursor: pointer;
                    transition-duration: 0.3s;
                    overflow: hidden;
                    position: relative;
                    color: white;
                  }
                  
                  .botao-meta-element:hover{
                      scale: 1.1;
                    }
                    .botao-meta-element:active{
                        transform: rotate(90deg);
                    }
