html,
body,
#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
@font-face {
    font-family: 'padrao-login';
    src: url(/public/fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}
input{
    border-radius: 5px;
    border: 2px solid;
    border-color: grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    outline: none;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    color: rgb(61, 61, 61);

}
h1{
    margin: 0;
}
button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(196, 196, 196);
    background-color: #FAFAFA;
    cursor: pointer;
    color: rgb(97, 97, 97);

}


.login-container {
    display: flex;
    height: 100vh;
    font-family: 'padrao-login';


}

.esquerda-container {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 50%;
    color: whitesmoke;
    background-image: url(/imagens/fundoLogin.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.div-esquerda-top {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20%;
    width: 100%;

}
.img-icon-sale{
    
    padding-right: 5px;
    
    height: 50%;
}
.h1-icon{
    
    margin: 0;
    font-size: 250% ;
    
    
}

.div-esquerda-meio {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;

}

.div-esquerda-bot {
    flex-direction: column;    
    align-items: center;
    display: flex;
    height: 40%;
    width: 100%;

}
.div-p-bot-login1{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;

}
.div-p-bot-login2{
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 50%;
    width: 100%;
    font-weight: 100;
    
    
}
p{
        
    margin: 0;
}
.p-login-transformando{

    font-size: 40px;
    
}

.img-project {
    background-size: cover;
    
}

.direita-contaier {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #FFFFFF;

}
.div-direita-esquerda{
    height: 100%;
    width: 20%;
}
.dados{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.div-h1-direita{
    flex-direction: column;   
    justify-content: center; 
    align-items: center;
    display: flex;
    margin: 0;
    height: 20%;
}
    h1{
        text-align: center;
    }
.buttons-goo-in{
    display: flex;
    gap: 20px;
    justify-content: center;  
}
.but-icon{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon-but{
     height: 20px;
     padding-right: 10px;
     
}

.div-inputs-login{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 40%;

}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px ;

}
.form2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}
.lbl-check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 160px;
}
.but-entrar{
    color: #FFFFFF ;
    background-color:#7c76f2;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 50px;

}
.div-but-entrar{
    width: 50%;
}
.but-entrar:hover{
    box-shadow: inset 0 0 10px 3px #FFFFFF ;
    transition: 0.5s;
}

.div-direita-direita{
    height: 100%;
    width: 20%;
}
