html,body,#root{

    min-height: 100vh;
    margin: 0;
    padding: 0;
      
}
.produtos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.body-produtos {
    width: 80%;
    height: 95%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.but-add-produto{
    background-color: #494A99;
    font-size: 15px;
    color: whitesmoke;
    border: none;
}
.but-add-produto:hover{
    background-color: #494a9954;
    transition: 0.2s;
    color: #494A99;
}
.add-produto{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 160px;
    width: 220px;
    border-radius: 35px;
}
.add-produto-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    
}
.produto-but{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    
}
    
