html,body,#root{

    min-height: 100vh;
    margin: 0;
    padding: 0;
      
}
.container-produtos{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #281650;
}