.botao-meta{
    width: 10%;
    height: 100%;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .botao-meta-element{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition-duration: 0.3s;
            position: relative;
            color: white;
          }
          
          .botao-meta-element:hover{
              scale: 1.1;
            }