
.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 160px;
    height: 819px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(178deg, #5321CA -2.19%, rgba(27, 0, 92, 0.53) 110.15%);
    box-shadow: 0px 21px 21px 1px rgba(45, 29, 71, 0.53);
}
.navbar {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: top;
    gap: 60px;
    width: 100%;
    height: 80%;
    flex-shrink: 0;
    
}
.div-label-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white; 
}
.span-navbar{
    color: green;
}
.icon-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #ffffff;
    width: 68.768px;
    height: 65px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 50px;
}

a:hover {
    transition: 0.5s;
    color: gainsboro;
}
