.coluna-bar {
  background-color: #f4f4f4; /* Cor de fundo geral */
  width: 50%; /* Define a largura do container */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno */
}

.chart-container {
  background-color: #fff; /* Fundo branco do gráfico */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
}

.h2-colunaBar {
  color: #23005B; /* Cor do título */
  font-family: 'Poppins', sans-serif; /* Fonte do título */
  font-size: 17px; /* Tamanho da fonte */
  font-style: normal; /* Estilo normal */
  font-weight: 500; /* Peso da fonte */
  line-height: 1.2; /* Altura da linha */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.apexcharts-bar-series .apexcharts-bar {
  fill: url(#gradient); /* Aplica um gradiente nas barras */
  stroke-width: 0; /* Remove a borda */
}


