html,body,#root{

    min-height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(193.69% 189.9% at 54.62% -37.46%, #2C0E6A 0%, rgba(7, 3, 18, 0.50) 100%), #565656;
    
}
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    margin: 2%;
    height: 94%;
    width: 100%;
    border-radius: 25px;
    /* border: 1px solid rgba(255, 255, 255, 0.54); */
    background: radial-gradient(101.81% 98.73% at 51.96% 40.13%, rgba(96, 103, 242, 0.80) 0.01%, rgba(52, 52, 52, 0.80) 94.06%);
    box-shadow: 10px 28px 36px 17px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25.5px);
}
.body-home {
    width: 80%;
}
.colunabar{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: baseline;
}

.h1-home{
    color: #fff;
}